﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="max-width: 800px;">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }
    }

    <div class="row">
        <div class="col-12">
            <h1 class="h3">About IronBridge Quantum Cryptography</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam efficitur nunc et magna ultrices finibus. Integer pretium gravida dui, ac consequat enim commodo sit amet. Etiam lectus felis.</p>
            <p>Vivamus libero mauris, malesuada at risus in, varius malesuada elit. Sed tristique magna eu gravida vulputate. Suspendisse ornare tellus vitae tincidunt lacinia. Donec interdum convallis risus vel hendrerit.</p>
            <a href="#" class="text-danger">Contact us</a>
        </div>
    </div>

</div>