﻿@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modal {
    @*<div class="loading-modal">
        <div class="loading-modal__content">
            <div class="circle-wrapper circle-wrapper--small">
                <div class="circle-wrapper__circle"></div>
                <div class="circle-wrapper__content">
                </div>
            </div>
            <p class="loading-modal__text">Working&hellip;</p>
        </div>
    </div>*@
}
<div class="container">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="selection-block">
                <a href="@Url.Action("type", "file")" class="selection-block__item">
                    <i class="far fa-file"></i>
                    <p>File Encryption</p>
                </a>
                <a href="@Url.Action("index", "home")" class="selection-block__item">
                    <i class="fas fa-shield-alt"></i>
                    <p>Web Encryption</p>
                </a>
            </div>
        </div>
    </div>
</div>