﻿@{
    ViewBag.Title = "SelectType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }
    }
    <div class="row">
        <div class="col-12">
            <div class="selection-block">
                <a href="@Url.Action("aes", "file")" class="selection-block__item">
                    <i class="far fa-file"></i>
                    <p>AES</p>
                </a>
                <a href="@Url.Action("rsa", "file")" class="selection-block__item">
                    <i class="far fa-file"></i>
                    <p>RSA</p>
                </a>
            </div>
        </div>
    </div>
</div>