﻿@model CQC.IronBridge.ViewModels.AesEncryptViewModel
@{
    ViewBag.Title = "Key";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modal {
    @Html.Partial("_LoadingModal");
    <div class="modal" id="InfoModal1" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 pb-2">
                    <h6 class="modal-title lead">Modal 1 Title</h6>
                    <button type="button" class="close pb-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at tincidunt lacus, sit amet aliquam libero. Sed pretium nisi ac elit tempor, non mattis lacus rutrum. Nulla vel felis a diam luctus congue. Ut cursus viverra congue. Proin aliquam facilisis mattis. Maecenas vitae dolor turpis. Donec aliquam sit amet nulla et viverra.</p>
                </div>
                <div class="modal-footer border-top-0"></div>
            </div>
        </div>
    </div>
}
<div class="container" style="max-width: 800px;">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }
    }

    <div class="panel-wrapper">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("key", "file/aes")"><i class="fas fa-key"></i>&nbsp; Key</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("encrypt", "file/aes")"><i class="fas fa-lock"></i>&nbsp; Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("settings", "file/aes")"><i class="fas fa-cog"></i></a>
            </li>
        </ul>
        <div class="card mb-5">
            <div class="card-body">
                <div class="container-fluid">
                    <div class="row align-items-start">
                        <div class="col-12 mb-4">
                            <h1 class="h4 mb-0">Encrypt Via Web</h1>
                            <p class="mb-0">Protect each pageload with a unique extension.</p>
                        </div>
                        <div class="col-md-6 pr-lg-4">
                            @if (Model.EncryptionSuccessful)
                            {
                                <div id="EncryptSuccessBlock">
                                    <div class="alert alert-success text-center py-5" role="alert">
                                        <ul class="list-unstyled m-0">
                                            <li class="h5"><i class="far fa-check-circle" style="font-size: 170%"></i><br />Encryption successful</li>
                                            <li>\output\file.cqc</li>
                                        </ul>
                                    </div>
                                    <ul class="list-inline d-flex">
                                        <li class="list-inline-item w-100">
                                            <a href="#" class="btn btn-secondary btn-sm btn-block">See in folder</a>
                                        </li>
                                        <li class="list-inline-item w-100">
                                            <a href="@Url.Action("encrypt", "file/aes")" class="btn btn-primary btn-sm btn-block">Encrypt more</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                            else
                            {
                                <div id="EncryptBlock">
                                    @using (Html.BeginForm(null, null, FormMethod.Post))
                                    {
                                        @Html.HiddenFor(m => m.EncryptionSuccessful);
                                        <div class="form-group">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.UploadedFile, "Choose File")
                                                @Html.TextBoxFor(m => m.UploadedFile, "", new { @Class = "form-control-file", type = "file" })
                                                @Html.ValidationMessageFor(m => m.UploadedFile, "", new { @Class = "error" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                @Html.LabelFor(m => m.FileDestination, "Set Destination")
                                                @Html.TextBoxFor(m => m.FileDestination, "", new { @Class = "form-control-file", type = "file" })
                                                @Html.ValidationMessageFor(m => m.FileDestination, "", new { @Class = "error" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-block mt-4" value="Encrypt now" />
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        <div class="col-md-6 pl-lg-4">
                            <div class="form-group">
                                <label for="@(nameof(Model.OutputPreview))"><i class="fas fa-unlock-alt mr-2"></i>Output Preview</label>
                                @Html.TextAreaFor(m => m.OutputPreview, new { @Class = "form-control", placeholder = "(Output will display after encryption)", @rows = 7 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        function checkUploadStatus() {
            var isValid = false;
            $('.form-control-file').each(function () {
                isValid = ($(this).val() !== undefined && $(this).val() !== "") ? true : false;
            });
            $('form').find('input[type="submit"]').prop('disabled', isValid ? false : true);
        }

        $('.form-control-file').on('change', function () {
            checkUploadStatus();
        });

        $('form').on('submit', function (e) {
            e.preventDefault();
            var $this = $(this);
            if ($this.valid()) {
                $this.find('input[type=submit]').prop('disabled', true);
                $('.loading-modal').addClass('is-visible');
                $this[0].submit();
            }
        });

        checkUploadStatus();

    </script>
}
