﻿@model CQC.IronBridge.ViewModels.AesKeyViewModel
@{
    ViewBag.Title = "Key";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modal {
    @Html.Partial("_LoadingModal");
}
<div class="container" style="max-width: 800px;">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }
    }

    <div class="panel-wrapper">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("key", "file/aes")"><i class="fas fa-key"></i>&nbsp; Key</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("encrypt", "file/aes")"><i class="fas fa-lock"></i>&nbsp; Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("settings", "file/aes")"><i class="fas fa-cog"></i></a>
            </li>
        </ul>
        <div class="card mb-5">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h1 class="h4 mb-0">Generate Key</h1>
                                <p class="m-0">@Model.Settings.ShortDescription @Html.ActionLink("Change Settings", "settings", "file/aes")</p>
                            </div>
                            <div class="col-md-6 pr-lg-4">
                                <div class="progress-display">
                                    <div class="progress-display__chart">
                                        <svg>
                                            <defs>
                                                <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                                    <stop offset="0%" stop-color="#EE0200" />
                                                    <stop offset="100%" stop-color="#FE8709" />
                                                </linearGradient>
                                            </defs>
                                            <circle id='shape' class="guage-stroke" cx='90' cy='90' r='86' stroke="url(#gradient)" />
                                        </svg>
                                        <div class="progress-display__content">
                                            <div class="progress-display__perc">85</div>
                                            <div class="progress-display__text">Bell Value</div>
                                        </div>
                                        <div class="progress-display__chart-line">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                    <div class="badge badge-pill badge-slate"><i class="fas fa-lock mr-2"></i>Certifiable Quantum</div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-lg-4">
                                <div class="form-group row">
                                    @Html.LabelFor(m => m.Key, "Key", new { @Class = "col-sm-4 col-form-label" })
                                    <div class="col-sm-8">
                                        <div class="input-group input-group-sm">
                                            @Html.TextBoxFor(m => m.Key, new { @class = "form-control", tabindex = "1" })
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i class="fas fa-eye"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">


                                </div>
                                <a href="@Url.Action("getnewkey", "file/aes")" class="btn btn-secondary btn-block">Generate new</a>
                                <button type="submit" class="btn btn-primary btn-block">Next</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            displayStroke($('.progress-display__chart'), 63);
        });
    </script>
}
