﻿@model CQC.IronBridge.ViewModels.AesSettingsViewModel
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modal {
    @Html.Partial("_LoadingModal");
}
<div class="container" style="max-width: 800px;">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }
    }

    <div class="panel-wrapper">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("key", "file/aes")"><i class="fas fa-key"></i>&nbsp; Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("encrypt", "file/aes")"><i class="fas fa-lock"></i>&nbsp; Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("settings", "file/aes")"><i class="fas fa-cog"></i></a>
            </li>
        </ul>
        <div class="card mb-5">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <div class="container-fluid">
                        <div class="row align-items-start">
                            <div class="col-12 mb-4">
                                <h1 class="h4 mb-0">AES Settings Settings</h1>
                            </div>
                            @using (Html.BeginForm(null, null, FormMethod.Post))
                            {
                                <div class="col-md-6 pr-md-4">
                                    <div class="form-group row justify-content-between">
                                        @Html.LabelFor(m => m.AvailablePorts, "Com Port", new { @Class = "col-6 col-form-label" })
                                        <div class="col-6">
                                            @Html.DropDownListFor(m => m.Port, Model.AvailablePorts, new { @class = "form-control", tabindex = "1" })
                                        </div>
                                    </div>
                                    <div class="form-group row justify-content-between">
                                        @Html.LabelFor(m => m.Parity, "Parity", new { @Class = "col-6 col-form-label" })
                                        <div class="col-6">
                                            @Html.DropDownListFor(m => m.Parity, Model.ParityList, new { @class = "form-control", tabindex = "2" })
                                        </div>
                                    </div>
                                    <div class="form-group row justify-content-between">
                                        @Html.LabelFor(m => m.BitRate, "Bit Rate", new { @Class = "col-6 col-form-label" })
                                        <div class="col-6">
                                            @Html.DropDownListFor(m => m.BitRate, Model.BitRateList, new { @class = "form-control", tabindex = "3" })
                                        </div>
                                    </div>
                                    <div class="form-group row justify-content-between">
                                        @Html.LabelFor(m => m.StopBits, "Stop Bits", new { @Class = "col-6 col-form-label" })
                                        <div class="col-6">
                                            @Html.DropDownListFor(m => m.StopBits, Model.StopBitsList, new { @class = "form-control", tabindex = "4" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pl-md-4">
                                    <div class="form-group row justify-content-between">
                                        @Html.LabelFor(m => m.KeyLength, "OAEP Hash", new { @Class = "col-6 col-form-label" })
                                        <div class="col-6">
                                            @Html.DropDownListFor(m => m.KeyLength, Model.KeyLenghtOptions, new { @class = "form-control", tabindex = "5" })
                                        </div>
                                    </div>
                                    <div class="form-group row justify-content-between">
                                        <div class="col-6">
                                            <span class="col-form-label">Use IV</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-end">
                                            <label class="switch-group">
                                                @Html.CheckBoxFor(m => m.UseIV, new { @class = "", tabindex = "7" })
                                                <span class="switch-group__slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row justify-content-between">
                                        <div class="col-6">
                                            <span class="col-form-label">Allow Unicode</span>
                                        </div>
                                        <div class="col-6 d-flex justify-content-end">
                                            <label class="switch-group">
                                                @Html.CheckBoxFor(m => m.UnicodeEnabled, new { @class = "", tabindex = "7" })
                                                <span class="switch-group__slider"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <a href="@Url.Action("resettodefaults", "file/aes")" class="btn btn-secondary btn-block">Reset</a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
