﻿.card {
    background-color: #E4E4E4;
    border-color: transparent;
    border-radius: 8px;
    color: gray("800");
    @include prefix((border-top-left-radius: 0), webkit moz);

    &-body {
        padding: 1rem;

        @media(min-width: 768px) {
            padding: 2rem 2.5rem 2.5rem;
        }
    }
}
