﻿.device-menu {
    &--primary {
    }

    &__nav {
        padding: 60px 20px 0 40px;
        margin: 0;
        list-style: none;

        &, &-item, &-link {
            position: relative;
            display: block;
        }

            &-item {
            }

            &-link {
                padding: .5rem 0;
                font-weight: bold;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &, &:hover {
                    color: #FFFFFF;
                    text-decoration: none;
                }

                    &:active, &.is-selected {
                        color: red;
                    }

                    &.is-selected {
                        padding-left: 20px;
                    }

                        &.is-selected:before {
                            position: absolute;
                            display: block;
                            content: "";
                            width: 0;
                            height: 0;
                            top: 50%;
                            left: 0;
                            @include prefix((transform: translateY(-50%)), webkit moz);
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-left: 6px solid red;
                        }
            }
    }
}
.device-menu--is-open {
    overflow: hidden;

    &:before {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255,255,255,0.3);
        z-index: 2;
    }
}
