﻿.footer {
    color: white;
    margin-top: auto;
    z-index: 1;

    @media(max-width: 678px) {
        font-size: 14px;
    }

    &__logo {
        max-width: 90px;
        margin-top: 30px;
        margin-bottom: 40px;
        img {
            width: 100%;
        }
    }
}
