﻿.header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: $header-height;
    line-height: $header-height;
    width: 100%;
    padding: $header-padding;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 100;

    &__logo {
        max-width: 120px;

        img {
            width: 100%;
        }
    }

    & + div[canvas=container] > .page-wrapper {
        padding-top: $header-height + 30px;
    }
}


.hamburger {

    $this: &;
    $hamburger-span-height: 3px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: $hamburger-span-height * 10;
    height: $hamburger-span-height * 5;
    cursor: pointer;
    z-index: 10;
    span {
        &, &:before, &:after {
            width: 100%;
            height: $hamburger-span-height;
            background-color: white;
        }

            &:before, &:after {
                position: absolute;
                content: '';
                left: 0;
            }

            &:before {
                @include prefix((transform: translateY(-($hamburger-span-height * 3))), webkit moz);
            }

            &:after {
                @include prefix((transform: translateY(($hamburger-span-height * 3))), webkit moz);
            }
    }

    &.is-open {
        span {
            background-color: transparent;

            &:before {
                @include prefix((transform: rotate(45deg)), webkit moz);
            }

            &:after {
                @include prefix((transform: rotate(-45deg)), webkit moz);
            }
        }
    }
}
