﻿.circle-wrapper {
    $size: 150px;
    $animation-time: 2.5s;

    $background-color: #000000;
    $circle-color: #1661D9;

    &--small {
        $size: 80px;
    }

    position: relative;
    display: block;
    margin: 0 auto;
    height: $size;
    width: $size;
    background: $background-color;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 20px rgba(0,0,0,0.75);



    &__circle {
        width: 100%;
        height: 100%;
        animation: rotate $animation-time linear infinite;

        &:after, &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 50%;
        }
        // First half (top) of the cirlce with a left to right gradient
        &:before {
            border-radius: $size $size 0 0;
            background-image: linear-gradient(to right, rgba(#FFFFFF, 1), $circle-color 80%);
        }
        // Second half (bottom)
        &:after {
            top: 50%;
            border-radius: 0 0 $size $size;
            background-image: linear-gradient(to right, rgba(#FFFFFF, 1), transparent 80%);
        }
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        // Adjust values below to change border-size
        height: 88%;
        width: 88%;
        background: #000000;
        border-radius: 50%;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/**
 * Additional styles.
 */
.description {
    margin-bottom: 15px;
}

.time {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__value, &__unit {
        display: block;
        text-align: center;
        line-height: 1;
    }

    &__value {
        font-size: 36px;
    }

    &__unit {
        font-size: 24px;
    }
}
