﻿.loading-modal {
    position: fixed;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    text-align: center;

    &.is-visible {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    &__content {
    }

    &__text {
        margin-top: 20px;
        font-size: 14px;
        text-transform: uppercase;
    }
}
