﻿.nav-tabs {
    border-color: transparent;

    .nav-item {
        $nav-item: &;

        &:first-of-type, &:last-of-type {
            .nav-link:after {
                display: none;
            }
        }

        .nav-link {
            position: relative;
            color: #595959;
            background-color: #C4C4C4;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 13px;
            line-height: 30px;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            &, &:hover, &:active, &.active {
                border-color: transparent;
            }

                &.active {
                    background-color: #E4E4E4;
                    color: #000000;

                    &:after {
                        background-color: #E4E4E4;
                    }
                }
        }
    }
}
