﻿.progress-display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 280px;
    background-color: white;
    @include prefix((border-radius: $border-radius), webkit moz);

    &__chart {
        position: relative;
        width: 180px;
        height: 180px;
        @include prefix((border-radius: 50%), webkit moz);
        overflow: hidden;
        background-color: #E4E4E4;
        margin-bottom: 20px;

        svg {
            width: 180px;
            height: 180px;
            background: #eee;
            -webkit-transform: rotate(-90deg) scaleY(-1);
            transform: rotate(-90deg) scaleY(-1);

            #shape {
                fill: none;
                stroke-width: 15px;
                transition: all 2s linear;
                stroke-dasharray: 1000;
                stroke-dashoffset: -540;
            }
        }

        &-line {
            position: absolute;
            display: block;
            content: "";
            top: 50%;
            left: 50%;
            @include prefix((transform: translate(-50%, -50%)), webkit moz);
            width: 100%;
            height: 100%;
            z-index: 3;

            div {
                position: absolute;
                display: block;
                content: "";
                top: 50%;
                left: 50%;
                @include prefix((transform: translate(-50%, -50%)), webkit moz);
                width: 100%;
                height: 1px;
                background-color: white;
                z-index: 3;
                transform-origin: 50% 50% 0;

                @for $i from 1 through 7 {
                    $deg: 30;

                    &:nth-child(#{$i}) {

                        $amount: if($i == 1, 0, -#{$deg * $i}deg );

                        @include prefix((transform: translate(-50%, -50%) rotate($amount)), webkit moz);

                        @if($i == 6) {
                            opacity: 0;
                        }
                    }
                }
            }
        }

        &:after {
            position: absolute;
            display: block;
            content: "";
            top: 50%;
            left: 50%;
            width: 160px;
            height: 160px;
            @include prefix((transform: translate(-50%, -50%)), webkit moz);
            @include prefix((border-radius: 50%), webkit moz);
            background-color: white;
            z-index: 2;
        }
    }

    &__content {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        content: "";
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        @include prefix((transform: translate(-50%, -50%)), webkit moz);
        z-index: 5;
    }

    &__perc, &__text {
    }

    &__perc {
        font-size: 3rem;
        margin-bottom: -10px;

        &:after {
            position: absolute;
            content: "%";
            font-size: 40%;
            vertical-align: top;
        }
    }

    &__text {
    }
}
