﻿.selection-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*margin-top: 40px;*/
    &__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 20px;
        margin: 10px;
        min-width: 130px;
        max-width: 130px;
        height: 150px;
        margin: 10px 12px;
        text-align: center;
        font-weight: bold;
        line-height: 1rem;
        background-color: #C4C4C4;
        @include prefix((border-radius: 8px), webkit moz);

        &, &:hover, &:active {
            color: #000000;
            text-decoration: none;
        }

            &:active {
                background-color: #1661D9;
            }

        i {
            font-size: 50px;
            margin-bottom: 20px;
        }

        p {
            margin: auto 0 0;
        }
    }
}
