﻿.switch-group {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 15px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;

        &:before {
            position: absolute;
            content: "";
            top: 50%;
            height: 25px;
            width: 25px;
            left: 0;
            @include prefix((transform: translateY(-50%)), webkit moz);
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }

    input:checked ~ &__slider {
        background-color: rgba(#2196F3, 0.4);

        &:before {
            background-color: #2196F3;
            -webkit-transform: translate(30px, -50%);
            -ms-transform: translate(30px, -50%);
            transform: translate(30px, -50%);
        }
    }
}
