﻿@import "_functions.scss";
@import "../Bootstrap/_functions.scss";
@import "_bootstrap-theme.scss";
@import "../Bootstrap/_mixins.scss";
@import "../Bootstrap/bootstrap.scss";
@import "variables.scss";
@import "mixins.scss";
@import "Components/_header.scss";
@import "Components/_loader.scss";
@import "Components/_footer.scss";
@import "Components/_device-menu.scss";
@import "Components/_loading-modal.scss";
@import "Components/_card.scss";
@import "Components/_init-block.scss";
@import "Components/_nav-tabs.scss";
@import "Components/_progress-display.scss";
@import "Components/_selection-block.scss";
@import "Components/_switch-group.scss";
@import "Components/_switch-group.scss";

html, body {
    height: 100%;
}

html, body, [canvas=container] {
    background-color: #000000;
    color: white;
}

.page-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
    background-color: #000000;

    & > * {
        z-index: 1;
    }

    &:before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-image: url("/Images/ironbridge-cqc-bg.png");
        background-position: right -300px center;
        background-size: cover;
        opacity: 0.2;
        z-index: 0;

        @media(min-width: 768px) {
            & {
                background-position: center;
                background-attachment: fixed;
            }
        }
    }
}

.panel-wrapper {
    margin-top: 1rem;
}


