﻿@model CQC.IronBridge.ViewModels.RsaEncryptViewModel
@{
    ViewBag.Title = "Key";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section modal {
    @Html.Partial("_LoadingModal");
    <div class="modal" id="InfoModal1" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 pb-2">
                    <h6 class="modal-title lead">Modal 1 Title</h6>
                    <button type="button" class="close pb-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at tincidunt lacus, sit amet aliquam libero. Sed pretium nisi ac elit tempor, non mattis lacus rutrum. Nulla vel felis a diam luctus congue. Ut cursus viverra congue. Proin aliquam facilisis mattis. Maecenas vitae dolor turpis. Donec aliquam sit amet nulla et viverra.</p>
                </div>
                <div class="modal-footer border-top-0"></div>
            </div>
        </div>
    </div>
    <div class="modal" id="InfoModal2" tabindex="-1" role="dialog" aria-labelledby="InfoModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0 pb-2">
                    <h6 class="modal-title lead">Modal 2 Title</h6>
                    <button type="button" class="close pb-2" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body pt-2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at tincidunt lacus, sit amet aliquam libero. Sed pretium nisi ac elit tempor, non mattis lacus rutrum. Nulla vel felis a diam luctus congue. Ut cursus viverra congue. Proin aliquam facilisis mattis. Maecenas vitae dolor turpis. Donec aliquam sit amet nulla et viverra.</p>
                </div>
                <div class="modal-footer border-top-0"></div>
            </div>
        </div>
    </div>
}
<div class="container" style="max-width: 800px;">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }

    }

    <div class="panel-wrapper">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("generate", "file/rsa")"><i class="fas fa-key"></i>&nbsp; Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("encrypt", "file/rsa")"><i class="fas fa-lock"></i>&nbsp; Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("settings", "file/rsa")"><i class="fas fa-cog"></i></a>
            </li>
        </ul>
        <div class="card mb-5">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <div class="container-fluid">
                        <div class="row align-items-start">
                            <div class="col-12 mb-4">
                                <h1 class="h4 mb-0">Encrypt Via Web</h1>
                                <p class="mb-0">Protect each pageload with a unique extension.</p>
                            </div>
                            <div class="col-md-6 pr-4">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"><i class="fas fa-unlock-alt mr-2"></i>Plain Text<i class="fas fa-info-circle ml-2" data-toggle="modal" data-target="#InfoModal1"></i></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 pl-lg">
                                <div class="form-group mt-4">
                                    <a href="@Url.Action("getnewkey", "file/aes")" class="btn btn-primary btn-block">Encrypt now</a>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea2"><i class="fas fa-lock mr-2"></i>CipherText<i class="fas fa-info-circle ml-2" data-toggle="modal" data-target="#InfoModal2"></i></label>
                                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="5" placeholder="(Cipher text will display after encryption)"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="checkbox-group">
                                                <input type="checkbox" />
                                                <label>Use private key to decrypt</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a href="@Url.Action("getnewkey", "file/aes")" class="btn btn-primary btn-block">Decrypt</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
