﻿@model CQC.IronBridge.ViewModels.RsaGenerateViewModel
@{
    ViewBag.Title = "Key";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section modal {
    @Html.Partial("_LoadingModal");
}
<div class="container" style="max-width: 800px;">
    @section DisplayMessage {
        @if (ViewData["DisplayMessage"] != null)
        {
            @Html.Partial("_DisplayMessage", ViewData["DisplayMessage"]);
        }
    }
    <div class="alert alert-success alert-dismissible show" role="alert">
        <i class="far fa-check-circle mr-2"></i>System ready.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="panel-wrapper">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("generate", "file/rsa")"><i class="fas fa-key"></i>&nbsp; Generate</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("encrypt", "file/rsa")"><i class="fas fa-lock"></i>&nbsp; Encrypt</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("settings", "file/rsa")"><i class="fas fa-cog"></i></a>
            </li>
        </ul>
        <div class="card mb-5">
            <div class="card-body">
                @using (Html.BeginForm(null, null, FormMethod.Post))
                {
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <h1 class="h4 mb-0">Generate Key</h1>
                                <p class="mb-0">0AEP: SHA1, Modules: 1024, Max Data (ocets):86 @Html.ActionLink("Change Settings", "settings", "file/rsa")</p>
                            </div>
                            <div class="col-md-6 pr-lg-4">
                                <div class="form-group">
                                    <div class="progress-display">
                                        <div class="progress-display__chart">
                                            <svg>
                                                <defs>
                                                    <linearGradient id="gradient" x1="0%" y1="0%" x2="0%" y2="100%">
                                                        <stop offset="0%" stop-color="#EE0200" />
                                                        <stop offset="100%" stop-color="#FE8709" />
                                                    </linearGradient>
                                                </defs>
                                                <circle id='shape' class="guage-stroke" cx='90' cy='90' r='86' stroke="url(#gradient)" />
                                            </svg>
                                            <div class="progress-display__content">
                                                <div class="progress-display__perc">0</div>
                                                <div class="progress-display__text">Bell Value</div>
                                            </div>
                                            <div class="progress-display__chart-line">
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                                <div></div>
                                            </div>
                                        </div>
                                        <div class="badge badge-pill badge-slate"><i class="fas fa-lock mr-2"></i>Certifiable Quantum</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" onclick="ToggleCollapse($(this));"><label for="exampleFormControlTextarea2" class="d-flex justify-content-between align-items-center">Certificate Key (Current PKI)<i class="fas fa-caret-down"></i></label></a>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                        <textarea class="form-control" id="exampleFormControlTextarea2" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 pl-lg">
                                <div class="form-group">
                                    <a href="@Url.Action("getnewkey", "file/aes")" class="btn btn-primary btn-block">Generate extension</a>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea2"><i class="fas fa-lock mr-2"></i>With x509 Extensions (Post-Quantum)</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="5"></textarea>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <a href="@Url.Action("resettodefaults", "file/rsa")" class="btn btn-secondary btn-block">Reset</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            displayStroke($('.progress-display__chart'), 70);
        });
    </script>
}
