﻿@{
    ViewBag.Title = "Init";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="init-block">
    <div class="init-block__head">
        <h1 class="h3">Initializing</h1>
        <p>Starting photon detection, please wait&hellip;</p>
    </div>
    <div class="init-block__body">
        <div class="circle-wrapper">
            <div class="circle-wrapper__circle"></div>
            <div class="circle-wrapper__content">
            </div>
        </div>
    </div>
    <div class="init-block__footer">
        <ul class="list-inline">
            <li class="list-inline-item">Cool numerical fact.</li>
            <li class="list-inline-item"><div class="badge badge-pill badge-primary"><i class="fas fa-check mr-2"></i>9058203958092</div></li>
        </ul>
    </div>
</div>



<script type="text/javascript">
    $(function () {
        setTimeout("location.href = '@Url.Action("generate", "file/rsa")'", 5000);
    });
</script>


