//
// Base styles
//

.alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  @include border-radius($alert-border-radius);
}

// Headings for larger alerts
.alert-heading {
  // Specified to prevent conflicts of changing $headings-color
  color: inherit;
}

// Provide class for links that match alerts
.alert-link {
  font-weight: $alert-link-font-weight;
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

.alert-dismissible {
    padding-right: ($close-font-size + $alert-padding-x * 1.5);
    // Adjust close link position
    .close {
        position: absolute;
        width: 20px;
        height: 20px;
        top: $alert-padding-y;
        right: $alert-padding-x / 2;
        line-height: 20px;
        padding: 0;
        color: inherit;
        outline: none;

        span {
            position: relative;
            display: block;
            background: transparent;
            vertical-align: middle;
            line-height: 20px;

            &, &:before, &:after {
                width: 100%;
                height: 2px;
            }

                &:before, &:after {
                    position: absolute;
                    display: block;
                    content: "";
                }

                &:before {
                    -ms-transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                }

                &:after {
                    -ms-transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                }
        }
    }
}


// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

@each $color, $value in $theme-colors {
    .alert-#{$color} {
        @include alert-variant(theme-color($color), theme-color($color), theme-text($color));

        .close {
            &, &:hover {
                color: theme-text($color);
            }
            span {
                &:before, &:after {
                    background-color: theme-text($color);
                }
            }
        }
    }
}
