﻿<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/Images/Icons/favicon.ico")" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CQC IronBridge</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/CQCTheme")
    <noscript>
        <meta http-equiv="refresh" content="0; url=@Url.Content($"~/NoJsScript?returnURL={Request.Url.AbsoluteUri}")">
    </noscript>
</head>
<body class="d-flex justify-content-center">
    <div class="page-wrapper">
        <div class="container">
            @RenderBody()
        </div>
    </div>



</body>
</html>
