﻿@model CQC.IronBridge.Models.DisplayMessage
@using CQC.IronBridge.Extensions

<div class="alert @(Model.MessageType.ToString().ReturnAlertClass()) alert-dismissible show" role="alert">

    @if (Model.IncludesIcon)
    {
        <i class="@(Model.IconClass) mr-2"></i>
    }
    @if (!string.IsNullOrEmpty(Model.Text))
    {
        @Html.Raw(Model.Text.Trim())
    }
    @if (Model.IsClosable)
    {
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    }
</div>