﻿<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="@Url.Content("~/Images/Icons/favicon.ico")" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CQC IronBridge</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    @RenderSection("Styles", required: false)
    @Styles.Render("~/Content/slidebars")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/CQCTheme")
    @Scripts.Render("~/bundles/jquery")
    <noscript>
        <meta http-equiv="refresh" content="0; url=@Url.Content($"~/NoJsScript?returnURL={Request.Url.AbsoluteUri}")">
    </noscript>
</head>
<body>
    @RenderSection("modal", required: false)

    <header class="header" canvas="">
        <div id="PrimaryMenuTrigger" class="hamburger"><span></span></div>
        <a href="#" class="header__logo"><img src="~/Images/ironbridge-logo-alternative.png" /></a>
    </header>

    <div canvas="container">     
        <div class="page-wrapper">
            <div class="container">
                @RenderSection("DisplayMessage", false)
                @RenderBody()
            </div>
            <div class="push"></div>
        </div>
        <footer class="footer">
            <div class="container">
                <p><b>Disclaimer</b></p>
                <p>&copy; @DateTime.Now.Year - IronBridge&trade; is a registered trademark of Cambridge Quantum Computing.</p>
                <img src="~/Images/cqc-logo-alternative.png" class="footer__logo" />
            </div>
        </footer>
    </div>

    <div class="device-menu device-menu--primary" off-canvas="primary left push">
        <ul class="device-menu__nav">
            <li class="device-menu__nav-item"><a href="@Url.Action("Index", "Home")" class="device-menu__nav-link">Home</a></li>
            <li class="device-menu__nav-item"><a href="@Url.Action("Index", "Home")" class="device-menu__nav-link">Web Encryption</a></li>
            <li class="device-menu__nav-item"><a href="@Url.Action("type", "file")" class="device-menu__nav-link">File Encryption</a></li>
            <li class="device-menu__nav-item"><a href="@Url.Action("About", "Home")" class="device-menu__nav-link">About</a></li>
            <li class="device-menu__nav-item"><a href="@Url.Action("Contact", "Home")" class="device-menu__nav-link">Contact Us</a></li>
        </ul>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/slidebars")
    @Scripts.Render("~/bundles/portal")
    @RenderSection("scripts", required: false)
</body>
</html>
