﻿<div class="loading-modal">
    <div class="loading-modal__content">
        <div class="circle-wrapper circle-wrapper--small">
            <div class="circle-wrapper__circle"></div>
            <div class="circle-wrapper__content">
            </div>
        </div>
        <p class="loading-modal__text">Working&hellip;</p>
    </div>
</div>
