﻿@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="text-center text-white">
            <img style="max-width: 170px;" class="pb-3" src="~/Images/ironbridge-logo-alternative.png" />
            <h1>Error</h1>
            <p>An error occured whilst processing your request. If this issue persists please contact support on <a href="#">support@start.me</a></p>
        </div>
    </div>
</div>

