﻿@{
    ViewBag.Title = "Site under maintenance";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="text-center text-white">
            <img style="max-width: 170px;" class="pb-3" src="~/Images/ironbridge-logo-alternative.png" />
            <h1>Site Under Maintenance</h1>
            <p>Sorry for the inconvenience but we're performing some maintenance at the moment. If you require assistance with anything, please contact our support team on <a href="#">support@start.me</a></p>
        </div>
    </div>
</div>

