﻿@{
    ViewBag.Title = "JavaScript Disabled";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="text-center text-white">
            <img style="max-width: 170px;" class="pb-3" src="~/Images/ironbridge-logo-alternative.png" />
            <h1>JavaScript Disabled</h1>
            <p>Our system indicates that JavaScript is disabled or not supported by your browser. In order to take full advantage of our sites functionality JavaScript must be enabled. Once enabled return to the <a href="@Url.Action("Index","Home")">homepage</a>.</p>
        </div>
    </div>
</div>

