﻿@{
    ViewBag.Title = "404 - Page not found";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-lg-6">
        <div class="text-center text-white">
            <img style="max-width: 170px;" class="pb-3" src="~/Images/ironbridge-logo-alternative.png" />
            <h1>404 - Page Not Found</h1>
            <p>We're sorry, the page you requested could not be found. Return to the <a href="@Url.Action("Index","Home")">homepage</a> or contact us on <a href="#">support@start.me</a></p>
        </div>
    </div>
</div>

